/* young-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Young-Serif/young-serif-v2-latin-regular.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Outfit/outfit-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Outfit/outfit-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Outfit/outfit-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --font-serif: 'Young Serif', serif;
  --font-sans: 'Outfit', sans-serif;

  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 64px;
  --space-950: 76px;
  --space-1600: 128px;

  --radius-lg: 24px;
  --radius-sm: 12px;

  --line-height-1: 1;
  --line-height-4: 1.5;

  --text-preset-1: 40px;
  --text-preset-2: 28px;
  --text-preset-3: 20px;
  --text-preset-4: 16px;

  --max-width: 736px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--stone-100);
  color: var(--stone-600);
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-preset-4);
  line-height: var(--line-height-4);
}

h1,
h2 {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: normal;
  line-height: var(--line-height-1);
}

h1 {
  color: var(--stone-900);
  font-size: var(--text-preset-1);
}

h2 {
  color: var(--brown-800);
  font-size: var(--text-preset-2);
}

picture,
img {
  display: block;
  max-width: 100%;
}

hr {
  border: none;
  border-block-start: 1px solid var(--stone-150);
}

ul,
ol {
  --_marker-color: var(--marker_color, var(--brown-800));
  --_market_type: var(--marker-type, disc);
  --_marker-suffix: var(--marker-suffix, '');
  list-style: none;

  li {
    --flow-space: var(--space-100);
    margin-inline-start: var(--space-500);
    text-indent: calc(var(--space-500) * -1);
  }

  li::before {
    content: counter(list-item, var(--_market_type)) var(--_marker-suffix);
    color: var(--_marker-color);
    font-weight: 700;
    font-variant-numeric: normal;
    display: block;
    float: left;
    width: var(--space-200);
    margin-inline: var(--space-100) var(--space-200);
  }
}

ol {
  --marker-type: decimal;
  --marker-suffix: '.';
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

th,
td {
  padding: var(--space-150) var(--space-100);

  &:first-child {
    padding-inline-start: var(--space-400);
  }
  &:last-child {
    padding-inline-end: var(--space-400);
  }
}

th {
  font-weight: 400;
}

td {
  font-weight: 700;
  color: var(--brown-800);
}

tr {
  & + & {
    border-block-start: 1px solid var(--stone-150);
  }

  &:first-child {
    padding-block-start: 0;
  }
  &:last-child {
    padding-block-start: 0;
  }
}

.flow > * + * {
  margin-block-start: var(--flow-space, var(--space-500));
}

.challenge__wrapper {
  --max-child-width: var(--max-width, 320px);

  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0;

  @media (min-width: 550px) {
    padding: var(--space-1600)
      max(var(--space-950), calc(50% - var(--max-child-width) / 2));
  }
}

.card {
  background-color: var(--white);
  overflow: hidden;
  max-width: var(--max-child-width);

  @media (min-width: 550px) {
    border-radius: var(--radius-lg);
    padding: var(--space-500);
  }
}

.card__image {
  margin-inline: auto;
  object-fit: cover;

  @media (min-width: 550px) {
    border-radius: var(--radius-sm);
  }
}
.card__content {
  padding: var(--space-400);
  padding-block-start: 0;

  @media (min-width: 550px) {
    padding: 0;
  }

  > * {
    --flow-space: var(--space-400);
  }

  > section,
  > p {
    --flow-space: var(--space-300);
  }
}

.prep__section {
  --marker_color: var(--rose-800);
  background-color: var(--rose-50);
  border-radius: var(--radius-sm);
  padding: var(--space-300);

  > * {
    --flow-space: var(--space-200);
  }

  h2 {
    color: var(--rose-800);
    font-family: var(--font-sans);
    font-size: var(--text-preset-3);
    font-weight: 600;
  }
}
